body{
    /* background-color: #070B2B; */
    background-image: url("nightSky.jpg");
    /* background-size: cover; */
    height: 100%;
    width: 100%;
}
.myName{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;
    color: #C9D1DE;
    margin: 25px 20px;
    padding: 0;
}
.projects{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 70px;
    text-align: center;
}